		<!--[if lt IE 9]>
		<script src="__PUBLIC__/plugins/respond.min.js"></script>
		<script src="__PUBLIC__/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/plugins/jQuery/jquery-1.11.1.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/plugins/jQuery/jquery-2.1.1.min.js"></script>
		<!--<![endif]-->
		<script src="__PUBLIC__/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="__PUBLIC__/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="__PUBLIC__/plugins/moment/min/moment.min.js"></script>
		<script src="__PUBLIC__/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="__PUBLIC__/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="__PUBLIC__/plugins/bootbox/bootbox.min.js"></script>
		<script src="__PUBLIC__/plugins/jquery.scrollTo/jquery.scrollTo.min.js"></script>
		<script src="__PUBLIC__/plugins/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
		<script src="__PUBLIC__/plugins/jquery.appear/jquery.appear.js"></script>
		<script src="__PUBLIC__/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="__PUBLIC__/plugins/velocity/jquery.velocity.min.js"></script>
		<script src="__PUBLIC__/plugins/TouchSwipe/jquery.touchSwipe.min.js"></script>